@import "tailwindcss";

html{
  background: black;
}

body {
  background: black;
  font-family: Arial, Helvetica, sans-serif; 
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 0;
}

@theme {
  /* Colors */
  --color-lightgray: #e6e6e6;
  --color-majorgray: #9ca3af;
  --color-majorgreen: #006838;
  --color-lemongreen: #1FCB2B;
  --color-superlightgreen: #eaf2ff;
  --color-lightgreentrans: #eaf2ff40;
  --color-lightgreen: #CFEBDE;
  --color-majororange: #e09427;
  --color-transorange: #e0932780;
  --color-superlightorange: #ffe3ac;
  --color-verydark: #573926;
  --color-lightorange: #ff9900;
  --color-majorred: #D6263A;

  /* Gradients */
  --background-image-gradient-coordinator: linear-gradient(to bottom, #ff9900be, #fff 50%);
  --background-image-gradient-trans: linear-gradient(to bottom, #eaf2ff40, transparent);
  --background-image-gradient-agent: linear-gradient(to bottom, #006838, #fff 20%);
}